<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title>Blog shausahu</title>
  <script>
    async function deletePost(id) {
      if (confirm("Are you sure you want to delete this post?")) {
        const response = await fetch(`/delete/${id}`, {
          method: 'POST'
        });
        if (response.ok) {
          document.getElementById(`item-${id}`).remove();
        }
      }
    }
    function pageDetails(id) {
      window.location.href = '/details/' + id;
    }
  </script>
  <script src="https://kit.fontawesome.com/9ce961c292.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <h4 class="header-element" style="color: azure; padding: 0 30px 0 50px;">Blopo</h4>
    <a class="header-element" style="color: rgba(255, 255, 255, 0.79); font-size: 15px;" href="">News</a>
    <a class="header-element" style="color: rgba(255, 255, 255, 0.795); font-size: 15px;" href="">Contact</a>
  </header>
  <main>