* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f1efeef1;
  color: black;
  font-family: Lato, sans-serif;
  font-size: 1em;
}

main {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Header */
header {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 50px;
}

.header-element {
  padding: 8px;
  margin: 0 10px 0 10px;
}

/* Content Form */
.content-form {
  margin-top: 18px;
  width: 85%;
  height: 570px;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-subtitles {
  width: 500px;
  padding: 40px 40px 0 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Form */

.input-post-content {
  width: 70%;
  padding: 2em;
  display: grid;
  grid-template-columns: 80%;
  align-items: center;
  justify-content: center;
}
.content-title { 
  padding-bottom: 1.3em;
  display: grid;

} 

.input-post {
  padding: 10px;
  height: 200px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1em;
}

.input-post:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.button-submit {
  justify-self: end;
  width: 7em;
  height: 3em;
  margin: 10px;
  border-radius: 50px;
  color: white;
  background-color: black;
}

/* Recent */

.text-recent {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 30px 20px;
}

.line-recent {
  margin: 15px;
  border: groove;
  width: 10%;
  height: 2px;

}

/* Post */

.content-post {
  width: 85%;
  display: grid;
  grid-template-columns: 35% 35% 35%;
  justify-content: center;
}

.container-content{
  margin: 35px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Both of the following are required for text-overflow */
/*white-space: nowrap;
overflow: hidden;*/
.post-content {
  background-color: #ffffff;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title-post {
  padding: 12px;
  /*background-color: #000000cf;*/
  color: black;
  font-family: "Lora";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.text-post {
  padding: 12px;
  color: #3f4444eb;
}

.button-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-change {
  position: absolute;
  left: -15px;
  margin: 7px;
  width: 2.5em;
  height: 2.5em;
  border-radius: 5px;
  border-color: #ffffff;
  color: black;
}





